@charset "UTF-8";
/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * LoveLinks implementation : © Bart Swinkels
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */
.lovelinks-bracelet-area {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.lovelinks-bracelet {
  position: relative;
  transition: width 1s ease-out, height 1s ease-out;
  padding: 10px;
}

.lovelinks-heart {
  background-image: url("img/hearts.png");
  background-size: 300% 200%;
  transform-origin: center;
  transition: transform 1s ease-out, top 1s ease-out, left 1s ease-out, opacity 1s ease-out;
  position: absolute;
}
.lovelinks-heart .lovelinks-number {
  position: absolute;
  pointer-events: none;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: large;
}
.lovelinks-heart.lovelinks-lock {
  z-index: 1;
  background-position-y: -100%;
}
.lovelinks-heart.lovelinks-lock .lovelinks-number {
  color: white;
}
.lovelinks-heart.lovelinks-key {
  z-index: 0;
  background-position-y: 0%;
}
.lovelinks-heart.lovelinks-key .lovelinks-number {
  color: black;
}

.lovelinks-gemstone {
  background-image: url(img/gemstones.png);
  background-size: 400% 100%;
  transform-origin: center;
  transition: transform 1s ease-out, top 1s ease-out, left 1s ease-out;
  z-index: 2;
  position: absolute;
}
