@charset "UTF-8";
/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * LoveLinks implementation : © Bart Swinkels
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */
.lovelinks-heart {
  background-image: url("img/hearts.png");
  background-size: 300% 200%;
  transform-origin: center;
  width: 100px;
  height: 100px;
  position: absolute;
}

.lovelinks-gemstone {
  background-image: url(img/gemstones.png);
  background-size: 400% 100%;
  transform-origin: center;
  width: 40px;
  height: 40px;
  position: absolute;
}
