/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * LoveLinks implementation : © Bart Swinkels
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

#player_boards {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); //fit all 4 players in a single row
}

.lovelinks-points {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: fit-content;
    font-size: xxx-large;
    z-index: 10;
    color: black;
    opacity: 0;
    &.lovelinks-points-positive {
        animation: moveUpwards 1.5s linear;
    }
    &.lovelinks-points-negative {
        animation: moveUpwards 1.5s linear;
        //animation: wiggleDownwards 1.5s linear;
    }
    text-shadow: 
        /* first layer at 1px */
        -1px -1px 0px #000,
        0px -1px 0px #000,
        1px -1px 0px #000,
        -1px  0px 0px #000,
        1px  0px 0px #000,
        -1px  1px 0px #000,
        0px  1px 0px #000,
        1px  1px 0px #000,
        /* second layer at 2px */
        -2px -2px 0px #000,
        -1px -2px 0px #000,
        0px -2px 0px #000,
        1px -2px 0px #000,
        2px -2px 0px #000,
        2px -1px 0px #000,
        2px  0px 0px #000,
        2px  1px 0px #000,
        2px  2px 0px #000,
        1px  2px 0px #000,
        0px  2px 0px #000,
        -1px  2px 0px #000,
        -2px  2px 0px #000,
        -2px  1px 0px #000,
        -2px  0px 0px #000,
        -2px -1px 0px #000;
}

@keyframes moveUpwards {
    0% {
        transform: translate(-50%, -50%) translate(0, 0);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) translate(0, -25%);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) translate(0, -50%);
        opacity: 0;
    }
}

@keyframes wiggleUpwards {
    0% {
      transform: translate(-50%, -50%) translate(0, 0);
      opacity: 1;
    }
    25% {
      transform: translate(-50%, -50%) translate(-5px, -25%);
    }
    50% {
      transform: translate(-50%, -50%) translate(0, -50%);
      opacity: 1;
    }
    75% {
      transform: translate(-50%, -50%) translate(-5px, -75%);
      opacity: 0.5;
    }
    100% {
      transform: translate(-50%, -50%) translate(0, -100%);
      opacity: 0;
    }
}

@keyframes wiggleDownwards {
    0% {
      transform: translate(-50%, -50%) translate(0, 0);
      opacity: 1;
    }
    25% {
      transform: translate(-50%, -50%) translate(-5px, 25%);
    }
    50% {
      transform: translate(-50%, -50%) translate(0, 50%);
      opacity: 1;
    }
    75% {
      transform: translate(-50%, -50%) translate(-5px, 75%);
      opacity: 0.5;
    }
    100% {
      transform: translate(-50%, -50%) translate(0, 100%);
      opacity: 0;
    }
}

// .lovelinks-bracelet-counter {
//     background-image: url('img/icons.png');
//     background-size: 200% 100%;
//     background-position: 0%;
//     before {
//         content: "\f005";
//     }
//     position: static;
//     height: 23px;
//     width: 23px;
//     display: inline-block;
//     margin-left: 5px;
//     margin-right: 4px;
//     transform: translateY(5px);
// }

// .lovelinks-link-counter {
//     background-image: url('img/icons.png');
//     background-size: 200% 100%;
//     background-position: -100%;
//     before {
//         content: "\f005";
//     }
//     position: static;
//     height: 23px;
//     width: 23px;
//     display: inline-block;
//     margin-left: 5px;
//     margin-right: 4px;
//     transform: translateY(5px);
// }

.lovelinks-title {
    text-align: center;
}

@keyframes blinker {
    from {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
}

.lovelinks-pulse  {
    animation-name: pulse;
    animation-duration: 1s;
}
  
@keyframes pulse {
    from {
        scale: 1;
    }
    50% {
        scale: 1.25;
    }
    to {
        scale: 1;
    }
}


.lovelinks-blinking {
	animation: blinker 0.5s infinite;
}

.lovelinks-clickable {
    cursor: pointer;
}

.lovelinks-highlighted {
    outline: 3px solid green;
}

.lovelinks-selected {
    outline: 3px solid red;
}

#page-content {
    .lovelinks-bracelet-area {
        column-gap: 20px;
    }
}

.lovelinks-bracelet-area {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.lovelinks-bracelet {
    position: relative;
    transition: width 1s ease-out, height 1s ease-out;
    margin: 10px;
}

.lovelinks-heart {
    background-image: url("img/hearts.png");
    background-size: 300% 200%;
    transform-origin: center;
    transition: rotate 1s ease-out, top 1s ease-out, left 1s ease-out, opacity 1s ease-out, width 1s ease-out, height 1s ease-out;
	position: absolute;

    .lovelinks-rays {
        background-image: url("img/rays.png");
        background-size: 500% 500%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        z-index: 4;
        position: absolute;
    }

    .lovelinks-number {
        position: absolute;
        user-select: none;
        pointer-events: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: large;
    }

    .lovelinks-number:not(:only-child) {
        display: none;
    }

    &.lovelinks-bronze {
        background-position-x: 0%;
    }

    &.lovelinks-silver {
        background-position-x: -100%;
    }

    &.lovelinks-gold {
        background-position-x: -200%;
    }

    &.lovelinks-key {
        z-index: 1;
        background-position-y: 0%;
        .lovelinks-number {
            color: black;
        }
    }

    &.lovelinks-lock {
        z-index: 2;
        background-position-y: -100%;
        .lovelinks-number {
            color: white;
        }
    }
}

.lovelinks-gemstoneholder {
    background-image: url(img/gemstoneholders.png);
    background-size: 300% 300%;
    transform-origin: center;
    transition: rotate 1s ease-out, top 1s ease-out, left 1s ease-out, width 1s ease-out, height 1s ease-out;
    z-index: 3;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    &.lovelinks-bronze {
        background-position-x: 0%;
    }

    &.lovelinks-silver {
        background-position-x: -100%;
    }

    &.lovelinks-gold {
        background-position-x: -200%;
    }

    &.lovelinks-nobonus {
        background-position-y: 0%;
    }

    &.lovelinks-emerald {
        background-position-y: -100%;
    }

    &.lovelinks-diamond {
        background-position-y: -200%;
    }
}

.lovelinks-player-board-icon-1 {
    height: 20px;
    width: 20px;
    transform: translateY(4px);
    before {
        content: "\f005";
    }
    position: static !important;
    display: inline-block;
    &:has(> :last-child:nth-child(1)) {
        margin-left: 5px;
    }
    &:has(> :last-child:nth-child(2)) {
        margin-left: 10px;
    }
}

.lovelinks-player-board-icon-2 {
    left: -25%;
    height: 20px;
    width: 20px;
    position: absolute !important;
    pointer-events: none;
}

.lovelinks-player-board-icon-3 {
    left: -50%;
    height: 20px;
    width: 20px;
    position: absolute !important;
    pointer-events: none;
}

.lovelinks-gemstone {
    background-image: url(img/gemstones.png);
    background-size: 400% 300%;
    transform-origin: center;
    transition: rotate 1s ease-out, top 1s ease-out, left 1s ease-out, width 1s ease-out, height 1s ease-out;
    z-index: 3;
    position: absolute;

    &.lovelinks-gemstone-color-undefined {
        display: none;
    }
    &.lovelinks-gemstone-color-red {
        background-position: -100% -200%;
    }
    &.lovelinks-gemstone-color-green {
        background-position: -300% 0%;
    }
    &.lovelinks-gemstone-color-blue {
        background-position: -100% 0%;
    }
    &.lovelinks-gemstone-color-yellow {
        background-position: -300% -200%;
    }
    &.lovelinks-gemstone-color-black {
        background-position: 0% 0%;
    }
    &.lovelinks-gemstone-color-white {
        background-position: -200% -200%;
    }
    &.lovelinks-gemstone-color-pink {
        background-position: -300% -100%;
    }
    &.lovelinks-gemstone-color-purple {
        background-position: 0% -200%;
    }
    &.lovelinks-gemstone-color-cyan {
        background-position: -200% 0%;
    }
    &.lovelinks-gemstone-color-orange {
        background-position: -200% -100%;
    }
    &.lovelinks-gemstone-color-khaki {
        background-position: -100% -100%;
    }
    &.lovelinks-gemstone-color-gray {
        background-position: 0% -100%;
    }
}

.lovelinks-supply-table-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
	--lovelinks-supply-table-scale: 0.33;
}

.lovelinks-supply-table {
    background-image: url(img/supply.png);
    background-size: contain;
    width: calc(var(--lovelinks-supply-table-scale) * (1368px - 186px));
    height: calc(var(--lovelinks-supply-table-scale) * (999px - 170px));
    padding-left: calc(var(--lovelinks-supply-table-scale) * 186px);
    padding-top: calc(var(--lovelinks-supply-table-scale) * 170px);
    display: grid;
    grid-template-columns: repeat(10, calc(var(--lovelinks-supply-table-scale) * 118px));
    grid-template-rows: repeat(9, calc(var(--lovelinks-supply-table-scale) * 92px));
    gap: 0px;
}

.lovelinks-supply-cell {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .lovelinks-dot {
        width: calc(var(--lovelinks-supply-table-scale) * 35px);
        height: calc(var(--lovelinks-supply-table-scale) * 35px);
        border-radius: 100%;
        &.lovelinks-dot-bronze {
            background-color: rgb(197, 90, 17);
        }
        &.lovelinks-dot-silver {
            background-color: rgb(128, 128, 128);
        }
        &.lovelinks-dot-gold {
            background-color: rgb(212, 175, 55);
        }
    }
}
